[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pulumi = "<4.0.0,>=3.0.0"
pulumi-aws = ">=5.0.0,<6.0.0"
pulumi-random = "*"
pulumi-aws-native = "*"

[dev-packages]

[requires]
python_version = "3.11"
